body {
    background-color: grey;
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-image: url("jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* #jungleJPG {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
} */

/* #snakeGIF {
    position: absolute;
    width: 100%;
    top: 0%;
} */

#cockroachGIF {
    position: absolute;
    visibility: visible;
    width: 30vw;
    bottom: -50vw;
    left: -12vw;
    rotate: 90deg;
}

.cockroachAnimation {
    animation-name: cockroachWalks;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cockroachWalks {
    0% {
        left: -12vw;
        bottom: -50vw;
    }
    100% {
        left: -12vw;
        bottom: 150vw;
    }
} 
